<li id="article-<%= article.id %>">
  <%= link_to gravatar_for(article.user), article.user %>
  <span class="user"><%= link_to article.user.username, article.user %></span>
  <span class="title"><%= article.title %></span>
  <span class="content"><%= article.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(article.created_at) %> ago.
    <% if current_user?(article.user) %>
      <%= link_to "delete", article, method: :delete,
                                       data: { confirm: "You sure?" } %>
      
    <% end %>
  </span>
  
</li>