<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Articles">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Title</Data></Cell>
        <Cell><Data ss:Type="String">Content</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>
      </Row>
      <!-- <% @articles.each do |product| %> -->
      <Row>
        <Cell><Data ss:Type="Number"><%= @article.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= @article.title %></Data></Cell>
        <Cell><Data ss:Type="String"><%= @article.content %></Data></Cell>
        <Cell><Data ss:Type="String"><%= @article.status %></Data></Cell>        
      </Row>
    
    </Table>
  </Worksheet>


  <Worksheet ss:Name="Articles">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Content</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>
      </Row>
      <% @comments.each do |comments| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= comments.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= comments.content %></Data></Cell>
        <Cell><Data ss:Type="String"><%= comments.status %></Data></Cell>        
      </Row>
     <% end %>    
    </Table>
  </Worksheet>

</Workbook>


